{% extends "base.html" %}
{% block title %}Nouveau dessin{% endblock %}
{% block content %}
    <div class="">
        <form action="{% url 'drawing' id_partie%}" class="" id="dessin" method="post">
            {% csrf_token %}
            <h3 class="text-center">Thème : {{ theme }}</h3>
            <input type="hidden" name="titre" value="{{ theme }}">
            <canvas id="canvas"></canvas>

            <div class="control row" style="margin-top: 20px;">
              <div class="couleur" style="margin: 0 15px;">
                 <p>Changer la taille du pinceau</p>
                 <input type="range" min="1" max="50" id="taille" value="9">
              </div>
              <div class="finDessin" style="margin: 0 15px;">
                 <input type="button" id="btnTerminer" value="Terminer?" class="btn btn-info">
              </div>
            </div>

            <div class="btnFin row">
              <a href="#" id="btnTelecharger" class="btn btn-info" style="margin: 0 15px;">Télécharger</a>
              <input type="hidden" name="pseudo" class="input-group-text" value="{{ name }}" placeholder="entrez un pseudo" required style="margin: 0 15px;">
              <input type="submit" name="valider" value="envoyer" class="btn btn-success" style="margin: 0 15px;">
            </div>
            <input type="hidden" name="visuel" value="" id="canvasVersServeur">
        </form>
    </div>
    {% load static %}
    <script src="{% static 'script/script.js' %}"></script>
{% endblock %}