{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Informations personnelles{% endblock %}
{% block content %}
    {% if edit %}<h6 class="text-center text-info">Modificationsenregistrées</h6>{% endif %}
    <form method="post" action="{% url 'mon_compte' %}">
        {% csrf_token %}
        <h2 class="text-center">Votre compte</h2>
        <p class="text-center">vous pouvez changer votre pseudo et votre mot de passe ici</p>
        <div class="col-6">
            {{ form.pseudo|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.password|as_crispy_field }}
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Mettre à jour le compte</button>
        </div>
    </form>
{% endblock %}