body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.drawArea {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
}

.path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.drawing {
    width: 100%;
    height: 100%;
}

.logo{
    max-width: 100px;
}

.homeIllu {
    min-height: 80vh;
    min-width: 10vh;
    background: url("../img/illustration.png") top right;
    background-size: cover;
}
canvas{
    box-shadow: 0 0 4px 1px rgba(0,0,0,.75);
    border: 5px solid #abb4c6;
}
form#dessin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
 div.btnFin {
    width: 100%;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
 .choixFin {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-top: 20px;
}
.noControl {
    display: none !important;
}
.drawingimg{
    max-width: 450px;
}
.btndrawing{
    margin: 5px 0;
}
footer{
    z-index: -999 !important;
}