<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ODIC - L'appli de dessin{% endblock %}</title>
    <script src="https://kit.fontawesome.com/a961418231.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% load static %}
        <a class="navbar-brand" href="{% url "accueil" %}"><img src="{% static 'img/logo.png' %}" alt="logo"
                                                                class='logo'/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.session.connected == 'ok' %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accueil" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "liste_parties" %}">Rejoindre une session</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "creer_partie" %}">Créer une session</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "mon_compte" %}">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "deconnexion" %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        {% else %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accueil" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "register" %}">Inscription</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<section id="content" class="container-fluid">
{% load crispy_forms_tags %}
    {% block content %}
        {% if request.session.connected == 'ok' %}
            <div class="homeIllu  d-flex align-items-center ">
                <div class="container-fluid">
                    <h1>Odic, l'application communautaire <br>de dessin en ligne :)</h1>
                    <div class="row ">
                        <div class="col-lg-6 order-lg-1 my-auto ">
                            <h3>Bienvenue </h3>
                            <p>Profitez de l'application</p>
                            <p>et réveillez le Van Gogh qui sommeille en vous 🎨🏆🥇</p>
                        </div>
                        <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="homeIllu  d-flex align-items-center ">
                <div class="container-fluid">
                    <h1>Odic, l'application communautaire <br>de dessin en ligne :)</h1>
                    <div class="row ">
                        <div class="col-lg-6 order-lg-1 my-auto ">
                            <form action="{% url "login" %}" method="post">
                                {% csrf_token %}
                                <div class="col-6">
                                    {{ form.pseudo|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.password|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <a href="{% url 'register' %}" class="btn btn-info">Inscription</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
                    </div>

                </div>
            </div>
        {% endif %}


    {% endblock %}
</section>
<footer class="fixed-bottom py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small> © 2020 Copyright: ODIC</small>
    </div>
</footer>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>